@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accentblue : #007acc;
    --lightgrey : #3e3e42;
    --darkergrey : #2d2d30;

    --darkestgrey : #252526;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: var(--darkergrey);
}

.menu-button{
    color: white;
    background-color: var(--darkestgrey);
    border: solid 1px var(--lightgrey);
    width: 40%;
    height: 30px;
    font-size: large;
    cursor: pointer;
}

.menu-button:hover {
    background-color: var(--darkergrey);
}

.text-input{
    width: 40%;
    height: 30px;
    background-color: var(--darkestgrey);
    border: 1px solid var(--lightgrey);
    color: white;
    outline: none;

    font-size: large;
}

.text-input:focus {
    background-color: var(--darkergrey);
    border-color: var(--accentblue);
}

.main-container {
    background-color: var(--lightgrey);
    margin: auto;
    margin-top: 5px;
    width: 90%;
    height: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.main-container textarea {
    color: white;
    background-color: var(--lightgrey);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
}

.tool-bar {
    background-color: var(--darkestgrey);
    width: 100%;
    
    display: flex;
    flex-direction: row;
}

.tool-bar button {
    color: lightgray;
    background-color: var(--darkestgrey);
    border: 1px;
    border-color: var(--lightgrey);
    border-style: solid;
    border-bottom: none;
    border-top: none;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}

.tool-bar button img{
    width: 35px;
}

.tool-bar button:hover {
    background-color: var(--darkergrey);
}

.welcome-splash {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.welcome-splash-menu-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.welcome-splash-button {
    color: white;
    background-color: var(--darkestgrey);
    border: 2px solid var(--accentblue);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 230px;
    width: 15%;
}

.welcome-splash-button:hover {
    background-color: var(--darkergrey);
    cursor: pointer;
}

.welcome-splash-button img{
    width: 40%;
    object-fit: contain;
}

.create-note-menu{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.note-view {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--lightgrey);
    border: none;
    outline: none;
    resize: none;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.note-view .tool-bar input[type="text"] {
    width: 15%;
    height: 100%;

    background-color: var(--darkestgrey);
    border-left: 1px solid var(--lightgrey);
    border-right: 1px solid var(--lightgrey);
    border-bottom: none;
    border-top: none;
    outline: none;
    color: white;
}

.note-view .tool-bar input[type="text"]:focus {
    background-color: var(--darkergrey);
    border-color: #007acc;
}

.note-view-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    row-gap: 25px;
    overflow-y: scroll;
}

.note-view-container{
    scrollbar-color: var(--darkestgrey);
}

.note-view-note {
    transition: 1s;
    width: 15%;
    height: 230px;
    padding: 5px;
    background-color: var(--darkestgrey);
    border: 2px solid var(--accentblue);
}

.note-view p{
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-view-note:hover {
    background-color: var(--darkergrey);
    cursor: pointer;

    transition: 1s;
    box-shadow: 5px 10px #888888;
}

.edit-tags-menu {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.edit-tags-menu input[type="text"] {
    width: 30%;
    height: 30px;
    padding: 5px;
    background-color: var(--darkestgrey);
    border: 1px solid var(--lightgrey);
    color: white;
    outline: none;

    font-size: large;
}

.edit-tags-menu input[type="text"]:focus {
    background-color: var(--darkergrey);
    border-color: var(--accentblue);
}

.edit-tags-menu button{
    width: 30%;
    height: 30px;
    padding: 5px;
    background-color: var(--darkestgrey);
    border: 1px solid var(--lightgrey);
    color: white;
    outline: none;
}

.edit-tags-menu button:hover{
    background-color: var(--darkergrey);
}

.edit-tags-menu-tag-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.tag-menu-tag {
    color: white;
    background-color: var(--darkestgrey);
    border: 1px var(--accentblue) solid;
    width: 30%;
    height: 40px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.tag-menu-tag img{
    height: 100%;
}