@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accentblue : #007acc;
    --lightgrey : #3e3e42;
    --darkergrey : #2d2d30;

    --darkestgrey : #252526;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: var(--darkergrey);
}